.list-font {
    font-size: 14px!important;
    color: #e4e4e4;
}
.list-sub-font {
    font-size: 12px!important;
    color: #e4e4e4;
    margin-left: 60px!important;
}
.subformIcon {
    font-size: 15px!important;
    color: #fff;
}
.NavIcon {
    font-size: 20px!important;
    color: #e4e4e4;
}