/* .table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

  }
  
.th {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
    font-size: 12;
}
.td {
  border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    text-align: center;
} 
@media print { html, body { height: initial !important; overflow: initial !important; padding: 5px; }}
   */
